body{
margin:0;
font-family:Arial;
background:#c8d517;
}

.container{
width:400px;
margin:50px auto;
background:rgb(24, 202, 21);
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgb(8, 119, 156);
}

h1{
text-align:center;
}

input{
width:70%;
padding:10px;
}

button{
padding:10px;
cursor:pointer;
}

ul{
list-style:none;
padding:0;
}

li{
display:flex;
justify-content:space-between;
padding:10px;
margin-top:10px;
background:#eee;
border-radius:5px;
}

.done{
text-decoration:line-through;
color:rgb(230, 10, 10);
}

.edit{
background:orange;
color:white;
border:none;
}

.delete{
background:red;
color:rgb(187, 27, 27);
border:none;
}